spinner.css.big-title{
	font-size: 50px;
	color: white;
}

.white-text{
	color:white;
}

.black-text{
	color:black;
}


 .typed-words {
	 font-family: 'Arial', sans-serif; /* Change 'Arial' to any desired font */
	 color: white; /* Replace with your preferred colour code */
 }
